.calculator {
    color: red;
    border: 2px solid black;
    border-radius: 5px;
    padding: 13px;
    margin: 0 auto;
    background-color: lightblue;
    max-width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border: 2px solid black;
    text-align: right;
    box-sizing: content-box;
    max-width: 185px;
}

#equation {
    padding: 2px 4px;
    font-style: italic;
}

#input {
    padding: 12px 16px;
    margin: 8px 0;
    font-size: 16pt;
    font-weight: bold;
}

.controls div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    display: flex;
    padding: 13px;
    width: 50px;
    margin: 3px;
    margin-top: 3px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: lightgray;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(162, 224, 214);
}

.number {
    background-color: whitesmoke;
}

p {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}